<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Host Error</title>
</head>
<body>
    <div style="margin: 30px auto; width: 50%;">
        <h1 style="font-size: 45px;font-weight: bolder;color: gray;">Oops! Server Downtown Error</h1>
        <p style="margin-top: 20px; color: gray"> 
            Please contact the administrator of this site to migrate to our new 
            hosting server which has been optimized for speed and more bandwith.
        </p>
        <h4>We sincerely apologize for any inconveniences this may cause.</h4>
    </div>
</body>
</html>